---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SectionContainer from '../components/SectionContainer.astro';
import CodeIcon from '../icons/Code.astro';
import Projects from '../components/Projects.astro';
import PictureImg from '../components/PictureImg.astro';
---


<Layout title="Portafolio | Moroni Pérez M. - Ing. de software">
    <Header class:list={`xl:w-[1120px] mx-auto header`}>
        <nav class="flex flex-row flex-wrap gap-x-10 opacity-80 pl-4 pr-5 text-sm">
            <a href="/">Inicio</a>
            <!-- <a href="#experience">Experiencia</a> -->
            <a href="#projects">Proyectos</a>
            <a href="#about-me">Sobre mí</a>
            <!-- <a href="#contact">Contacto</a> -->
        </nav>
    </Header>
    <SectionContainer id="projects" class="py-40">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 " transition:name="portfolio_init" >
            <CodeIcon class="size-7" /> Proyectos
        </h2>
        <div class="grid gap-8 mb-6 lg:mb-16 grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 max-w-6xl mx-auto max-w-[600px">
            <Projects />
        </div>
    </SectionContainer>
    
    <SectionContainer id="about-me" class="py-40 ">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 ">
            <CodeIcon class="size-7" /> Sobre mí
        </h2>
        <div class="text-md flex flex-col md:flex-row gap-4 ">
            <div class="w-full">
                <p>Soy Ingeniero de software con <span class="emphasis_text font-bold">+5 años de experiencia</span> laboral en el sector, actualmente trabajando como desarrollador full stack en una startup.</p>
                <p>Me considero una persona alegre, sociable y enfocada en las tareas asignadas, proactivo y perfeccionista en la resolución de problemas.</p>
                <p>Me encuentro en constante aprendizaje ya sea de manera visual, auditiva o social mediante la lectura; desarrollando últimamente el gusto por la lectura; actualmente sigo reforzando mi aprendizaje de Laravel como framework de PHP ya que es la herramienta que actualmente utilizo en la empresa, también he comenzado a aprender Python y React de la mano de  <a href="https://midu.dev/" target="_blank" rel="noopener noreferrer" class="emphasis_text">@midudev</a>, <a href="https://mouredev.com/" target="_blank" rel="noopener noreferrer" class="emphasis_text">@mouredev</a> y <a href="https://fernando-herrera.com/" target="_blank" rel="noopener noreferrer" class="emphasis_text">@Fernando_Her85</a>.</p>
            </div>
            <div class="w-full flex flex-col justify-center items-center md:justify-normal gap-3">
                <PictureImg />
                <div class="text_data">
                    <h3 class="text-xl font-bold">Moroni Pérez Méndez</h3>
                    <h4 class="text-md ">Desarrollador de software</h4>
                </div>
            </div>
        </div>
    </SectionContainer>
</Layout>