
<footer class="w-full xl:w-[1120px] rounded-lg shadow mt-2  mx-auto pb-2  bottom-0 ">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
      <span class="text-sm  text-center ">© 2025 <a href="/" class="hover:underline">MoropM</a>. Casi todos los derechos reservados.</span>
        </span>
    </div>
</footer>

