---
interface Props {
    class?: string;
}
const { class: className } = Astro.props;

// sticky top-0 z-10
// p-4 
---
<section class={`w-full flex justify-center ${className} items-center h-[70px]  `}>
    <slot />

    <picture class="logo--content" transition:name="logo_m">
        <source media="(prefers-color-scheme: dark)" srcset="/logo/M_dark.webp">
        <img src="/logo/M_light.webp" 
            alt="Logo Moro." 
            loading="lazy" 
            width=60" 
            class="opacity-50"
            >
    </picture>
</section>

<style>
    .header {
        font-weight: bold;
        color: light-dark(black, white);
        text-transform: uppercase;
        background-color: transparent;
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;

        nav {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            backdrop-filter: blur(0px);
            text-shadow: 1px 1px 2px light-dark( white, black);
            animation: enhance-header linear both;
            animation-timeline: scroll();
            /* animation-range: 0 200px ; */
            /* animation-range: entry 0% exit 100%; */
            animation-range: 0 normal;
        }

        a.active,
        a:hover {
            position: relative;
            /* color: var(--color-yellow);
            text-shadow: 0px .5px light-dark(#ac9601, transparent);  */
            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                right: 0;
                height: 2px;
                background-color: light-dark(var(--color-yellow_dark), var(--color-yellow));
                transition: all 0.3s ease;
            }
            /* border-bottom: var(--color-yellow) 2px solid; */
        }


    }
    .logo--content {
        img {
            border-radius: 50%;
        }
        
    }

    @keyframes enhance-header {
        0% {
            background-color: transparent;
            /* backdrop-filter: blur(0px); */
        }
        5% {
            background-color: light-dark(rgb(255 255 255 / 0.5), rgba(27, 27, 27, 0.5));
            
        }
        100% {
            backdrop-filter: blur(18px);
            /* color: var(--color-m); */
            /* box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1); */
        }
    }
</style>
