<a 
    {...Astro.props}
    target="_blank" 
    rel="noopener noreferrer" 
    class="
      
      rounded-full border 
      flex justify-center items-center gap-x-2 
      py-1 px-2 md:py-2 md:px-3 
      text-xs md:text-base
     
      hover:scale-110 hover:bg-white/10 
      link_icon
      transition
      "
    >
    <slot />
</a>

<style>
  /*
  border-white/10
  bg-white/5 
  */
  .link_icon {
    border-color: light-dark(rgb(0 0 0 / 0.2), rgb(255 255 255 / 0.1));
    background-color: light-dark(rgba(216, 216, 216, 0.2), rgb(255 255 255 / 0.05));
  }
</style>